<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
</head>
<body>
   
    <h1>Book picks of the week</h1>
    <div class="book-container">
        {% for book in book_list%}

        <div class="Book">

            <h2><a href="http://127.0.0.1:5001/book/index" {{ book.title }}</h2>
            <h3>{{ book.author }}</h3>
            <h4>{{ book.genre}}</h4>
        </div>
        {% endfor %}

    
</body>
</html>